.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.github/
.vscode/
pyrightconfig.json

base/agents/orchestrator.py.bak
base/agents/orchestrator1.py
base/agents/orchestrator2.py
tests/
base/agents/orchestrator1.py